<a href="https://colab.research.google.com/github/davanstrien/Intro-to-Jupyter-Notebooks-The-Weird-and-Wonderful/blob/draft/02_data_in_colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Getting data into  Colab 

This notebook covers a few ways of getting data into a Colab notebook. If you are working with someone else notebook inside colab and they don't do the data downloading inside their notebook you may need to modify how the data is accessed slightly. A few key ways of getting data into a Colab notebook include the following

### Use the upload button

![Screenshot 2021-05-17 at 16.05.20.png]()

This works well for small files but once things get bigger this option will stop working. It also relies on the upload speed of your internet which is often quite slow compared to your download speed.

### Pandas reads data from urls

pandas can take a url to csvs and other data that. This can be handy if you only need to get data into a dataframe to start since the rest of the notebool will probably be the same.

In [7]:
import pandas as pd

As an example we'll load the data from a GitHub repository. From this [link](https://github.com/Living-with-machines/PressPicker_public/blob/master/datasets/previous_selections_to_exclude/Jon_hardcopySelection_Aug2019_withSublibrary.csv) we can see a CSV file. We need to get the url for the "raw" version. We can pass this into pandas read_csv directly

In [8]:
pd.read_csv('https://raw.githubusercontent.com/Living-with-machines/PressPicker_public/master/datasets/previous_selections_to_exclude/Jon_hardcopySelection_Aug2019_withSublibrary.csv')

           ID  ...  Title.ID
0    13894026  ...  13894026
1    13894026  ...  13894026
2    13894026  ...  13894026
3    13894026  ...  13894026
4    13894026  ...  13894026
..        ...  ...       ...
550  13943828  ...  13943828
551  13943828  ...  13943828
552  13943828  ...  13943828
553  13943828  ...  13943828
554  13943828  ...  13943828

[555 rows x 17 columns]

### From a GitHub repository 

Often we'll have got our notebook from a GitHub repository. Sometimes the data we need will be included in this GitHub repository. To make this available inside Colab we can often clone the repository. As an example we want some data from this [repository](https://github.com/Living-with-machines/github_stats_report). We can clone it in the usual way, this will also grab any data included in the repository

In [4]:
!git clone https://github.com/Living-with-machines/github_stats_report

Cloning into 'github_stats_report'...
remote: Enumerating objects: 704, done.
remote: Counting objects: 100% (704/704), done.
remote: Compressing objects: 100% (531/531), done.
remote: Total 704 (delta 427), reused 376 (delta 131), pack-reused 0
Receiving objects: 100% (704/704), 688.02 KiB | 2.72 MiB/s, done.
Resolving deltas: 100% (427/427), done.

If the notebooks expects data to be organised in a particular way we can sometimes move the data to match this format quite easily (sometimes it will be necessary to modify some of the code).

In [9]:
!mv /content/github_stats_report/clone_data .

mv: cannot stat '/content/github_stats_report/clone_data': No such file or directory

## From a URL

Lastly we can sometimes grab data files from a URL using `wget` or similar tools.

In [10]:
!wget https://s3.amazonaws.com/fast-ai-nlp/imdb.tgz

--2021-05-17 15:37:17--  https://s3.amazonaws.com/fast-ai-nlp/imdb.tgz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.217.203.40
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.217.203.40|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 144440600 (138M) [application/x-tar]
Saving to: ‘imdb.tgz.1’

imdb.tgz.1          100%[===================>] 137.75M  38.3MB/s    in 3.6s

2021-05-17 15:37:21 (38.3 MB/s) - ‘imdb.tgz.1’ saved [144440600/144440600]